.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px !important;
}

.swiper-viewport {
  background-color: transparent !important;
}

@media (max-width: 48rem) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
}
.swiper {
  background-color: #1a202c !important;
}
